.navbar {
    margin: 0;
}

.btn-dark {
    background-color: #414143;
    color: #fff;
}

.btn-dark:hover {
    color: #eee;
}

.container {
    width: 1024px;
}

@media (max-width: 1024px) {
    .container {
        width: auto;
    }

    .teachers-cell,
    .carousel-cell {
        width: 100% !important;
    }
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display: inline-block;
    float: none;
}

.title {
    width: 50%;
    padding: 10px;
    margin: 28px;
    background-color: #FFCC00;
    color: #fff;
}

@media (max-width:768px) {
    .title {
        width: 70%;
        padding: 10px;
        margin: 28px;
        background-color: #FFCC00;
        color: #fff;
    }
}

.subtitle {
    padding: 10px;
    border-left: #FFCC00 solid 4px;
}

.footer {
    color: #fff;
    background-color: #FFCC00;
    font-weight: bold;
    padding: 40px 10px;
}

.footer-link {
    color: #fff;
    font-weight: bold;
}

.footer-link:hover {
    color: #000;
}

.navbar-brand {
    height: auto;
}

.right-bottom {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.img-small {
    height: 130px;
}

.panel {
    box-shadow: none;
}

.panel-body.dinamis {
    color: #fff;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #f39c12;
    border-color: #f39c12;
}

a {
    color: #FFF;
}

.teachers-cell .caption,
.carousel-cell .caption {
    position: absolute;
    background-color: #5cb1f7;
    color: #fff;
    padding: 10px;
    bottom: 0;
    width: 100%;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 2s linear;
}

.teachers-cell:hover .caption,
.carousel-cell:hover .caption {
    max-height: 500px;
}

.nav.dinamis li {
    width: 140px;
}

/*Runing Text*/
marquee {
    margin-top: 5px;
    width: 100%;
}

.runtext-container {
    width: auto;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0 30px 0 30px;
    padding: 0 30px 0 30px;
}

.main-runtext {
    margin: 0 auto;
    overflow: visible;
    position: relative;
    height: 40px;
}

.runtext-container .holder {
    position: relative;
    overflow: visible;
    display: inline;
    float: left;

}

.runtext-container .holder .text-container {
    display: inline;
}

.runtext-container .holder a {
    text-decoration: none;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    line-height: -0.5em;
    font-size: 16px;
}

.runtext-container .holder a:hover {
    text-decoration: none;
    color: #6600ff;
}

.p0 {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-inner .collapse.in,
.navbar-inner .collapsing {
    text-align: right;
}

.navbar-collapse {
    overflow-x: hidden;
}

@media (max-height: 770px) {
    .form-control {
        display: inline-block;
        width: auto;
    }

    .navbar-default .navbar-toggle {
        border-color: #414143;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #414143;
    }

    .navbar-toggle {
        float: none;
        margin-right: auto;
        padding: 6px 12px;
    }

    .navbar-collapse.in,
    .collapsing {
        position: absolute;
        z-index: 200;
        right: 0;
    }
}

@media (max-width: 580px) {
    .right-bottom {
        position: relative;
    }
}

.sidefont {
    font-weight: bolder;
    font-size: 14px !important;
    font-family: 'Poppins',
        sans-serif !important;
}